body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: auto;
}

h3 {
    margin-right: auto;
    font-size: 24px;
    color: #f9faf8;
}

header {
    background-color: #1F2937;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

.header {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 100px;
    gap: 12px;
    font-size: 10px;
}

.topsection {
    background-color: #1F2937;
    padding: 100px 0;
}

.top {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 100px;
    max-width: 1100px;
    
}

.placeholder, .awesome {
    flex: 1;
}

.awesome {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #e5e7eb;
    margin-right: 50px;
}

.placeholder {
    display: flex;
    flex: 1;
    justify-content: center;
}

.awesome > h1 {
    font-size: 48px;
    font-weight: 800;
    color: white;
    margin: 0;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 75px;
}

.info > h1 {
    font-size: 36px;
    font-weight: 800;
}

.pictures, .img-text {
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
    gap: 30px;
}

.img-text > p {
    text-align: center;
    width: 150px;
    margin: 0 auto;
}

.pictures > img {
    border: solid 3px blue;
    border-radius: 15px;
}

.quote {
    background-color: #e5e7eb;
    flex: 1;
}

.quote-text {
    padding: 100px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 1100px;
    margin: 0 auto;
}

.cite {
    text-align: end;
    margin-top: 25px;
    font-weight: 300;
}

.signup {
    background-color: #3882f6;
    color: white;
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    max-height: 200px;
    margin: 75px auto;
    border-radius: 10px;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
    font-size: 8px;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px;
    width: 110px;
}
.signup > button {
    border: solid 2px white;
    height: 50px;
    margin-left: 200px;
}